body {
    font-family: Arial, sans-serif;
    background-color: #949494;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#form-libro {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#form-libro input,
#form-libro select,
#form-libro button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#filtros {
    text-align: center;
    margin: 20px 0;
}

#filtros button {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 16px;
}

#lista-libros {
    margin-top: 20px;
}

.libro {
    background-color: #f2cbcb;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.libro h3 {
    margin: 0;
}

.libro p {
    margin: 5px 0;
}

#estadisticas {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}